.NewsletterForm{
    width:100%;
    background-color: rgb(187, 211, 233);
    form{
    margin:auto;
    padding-top:20px;
    font-size:20px;
    width:70%;
    color:rgb(11, 53, 82);
    height:5vh;
    input{
        margin-left:15px;
        width:40%;
        border:none;
        height:22px;
    }
    button{
        width:100px;
        margin-left:10px;
        padding:5px 5px 5px 5px;
        border:none;
        color:white;
        background-color: rgb(69, 176, 248);
    }
}
}
@media(max-width:1250px){
    .NewsletterForm{
        form{
            width:90%;
            input{
                width:30%;
            }
        }
    }
}
@media(max-width:850px){
    .NewsletterForm{
        text-align: center;
        form{
            height:8vh;
            input{
                margin-top:10px;
                width:50%;
            }
        }
    }
}

@media(max-width:450px){
    .NewsletterForm{
        form{
            height:8vh;
            font-size:16px;
            width:100%;
            input{
                width:40%;
                margin-top:10px;
            }
        }
    }
}