$body-font: "Roboto", sans-serif;
$heading-font: "Roboto Condensed", sans-serif;

$dark-blue: #244a64;
$regular-blue: #009ddc;
$light-blue: #bedcef;

$heading-dark: #504f4f;
$heading-light: white;
$heading-blue: #429bd6;

$desktop: 1250px;
$phone: 450px;
$tablet: 850px;
