.MainBanner {
  color: white;
  background-color: #d3a320;
  height: 100vh;
  text-align: center;
}

.MainBanner .TopNavbar {
  position: relative;
  z-index: 10;
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  list-style: none;
  padding-top: 20px;
}

.MainBanner .TopNavbar .Icon {
  width: 50%;
}

.MainBanner .TopNavbar .Icon .img {
  width: 100%;
}

.MainBanner .TopNavbar li {
  width: 15%;
}

.MainBanner .TopNavbar li h4 {
  margin: 0%;
}

.MainBanner h1 {
  position: relative;
  z-index: 10;
  padding: 0% 15% 0% 15%;
  font-size: 90px;
}

.MainBanner .ButtonContainer {
  position: relative;
  z-index: 10;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.MainBanner .ButtonContainer .Prosucts {
  margin-left: auto;
  margin-right: 20px;
}

.MainBanner .ButtonContainer .Services {
  margin-right: auto;
  margin-left: 20px;
}

.MainBanner .ButtonContainer .btn {
  padding: 10px 20px 10px 20px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  color: white;
}

.MainNavBar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 10;
}

.MainNavBar ul {
  margin: 0%;
  margin-top: 30px;
  padding: 0%;
  list-style: none;
  background-color: rgba(128, 128, 128, 0.479);
  width: 50%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.MainNavBar ul li a {
  text-decoration: none;
  color: white;
}

.carousel-root {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0%;
}

.carousel-root .carousel {
  height: 100%;
}

.carousel-root .carousel button {
  display: none;
}

.carousel-root .carousel .carousel-status {
  display: none;
}

.carousel-root .carousel .thumbs-wrapper {
  display: none;
}

.carousel-root .carousel .slider-wrapper {
  height: 100%;
}

.carousel-root .carousel .slider-wrapper .slider {
  height: 100%;
}

.carousel-root .carousel .slider-wrapper .slider div {
  height: 100%;
}

.carousel-root .carousel .slider-wrapper .slider div img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.aboutBanner {
  width: 100%;
  position: relative;
  text-align: center;
}

.aboutBanner .aboutImg {
  margin: 0%;
  width: 100%;
  height: 80vh;
}

.aboutBanner .aboutImg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.aboutBanner h1 {
  font-size: 45px;
  width: 50%;
  text-align: center;
  color: white;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.aboutBanner p {
  font-size: 13px;
  text-align: center;
  width: 40%;
  color: white;
  position: absolute;
  top: 45%;
  left: 30%;
}

.aboutBanner button {
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: transparent;
  color: white;
  border: 1px solid white;
  width: 150px;
  height: 30px;
}

@media (max-width: 900px) {
  .aboutBanner h1 {
    width: 70%;
  }
}

@media (max-width: 640px) {
  .aboutBanner h1 {
    top: 30%;
    width: 80%;
    font-size: 40px;
  }
  .aboutBanner p {
    width: 65%;
    top: 60%;
  }
  .aboutBanner button {
    top: 85%;
  }
}

@media (max-width: 640px) {
  .aboutBanner h1 {
    top: 30%;
    width: 80%;
    font-size: 40px;
  }
  .aboutBanner p {
    width: 65%;
    top: 60%;
    left: 18%;
  }
  .aboutBanner button {
    top: 85%;
  }
}

@media (max-width: 400px) {
  .aboutBanner h1 {
    top: 30%;
    width: 80%;
    font-size: 30px;
  }
  .aboutBanner p {
    width: 65%;
    top: 50%;
    left: 18%;
  }
  .aboutBanner button {
    top: 85%;
  }
}

.videoBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
  background-color: #45b0f8;
}

.videoBanner .promo-video {
  margin-left: 40px;
  margin-right: 40px;
}

.NewsletterForm {
  width: 100%;
  background-color: #bbd3e9;
}

.NewsletterForm form {
  margin: auto;
  padding-top: 20px;
  font-size: 20px;
  width: 70%;
  color: #0b3552;
  height: 5vh;
}

.NewsletterForm form input {
  margin-left: 15px;
  width: 40%;
  border: none;
  height: 22px;
}

.NewsletterForm form button {
  width: 100px;
  margin-left: 10px;
  padding: 5px 5px 5px 5px;
  border: none;
  color: white;
  background-color: #45b0f8;
}

@media (max-width: 1250px) {
  .NewsletterForm form {
    width: 90%;
  }
  .NewsletterForm form input {
    width: 30%;
  }
}

@media (max-width: 850px) {
  .NewsletterForm {
    text-align: center;
  }
  .NewsletterForm form {
    height: 8vh;
  }
  .NewsletterForm form input {
    margin-top: 10px;
    width: 50%;
  }
}

@media (max-width: 450px) {
  .NewsletterForm form {
    height: 8vh;
    font-size: 16px;
    width: 100%;
  }
  .NewsletterForm form input {
    width: 40%;
    margin-top: 10px;
  }
}
/*# sourceMappingURL=index.css.map */