@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
.MainBanner {
  color: white;
  background-color: #d3a320;
  height: 100vh;
  text-align: center;
}

.MainBanner .TopNavbar {
  position: relative;
  z-index: 10;
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  list-style: none;
  padding-top: 20px;
}

.MainBanner .TopNavbar .Icon {
  width: 50%;
}

.MainBanner .TopNavbar .Icon .img {
  width: 100%;
}

.MainBanner .TopNavbar li {
  width: 15%;
}

.MainBanner .TopNavbar li h4 {
  margin: 0%;
}

.MainBanner h1 {
  position: relative;
  z-index: 10;
  padding: 0% 15% 0% 15%;
  font-size: 90px;
}

.MainBanner .ButtonContainer {
  position: relative;
  z-index: 10;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.MainBanner .ButtonContainer .Prosucts {
  margin-left: auto;
  margin-right: 20px;
}

.MainBanner .ButtonContainer .Services {
  margin-right: auto;
  margin-left: 20px;
}

.MainBanner .ButtonContainer .btn {
  padding: 10px 20px 10px 20px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  color: white;
}

.MainNavBar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 10;
}

.MainNavBar ul {
  margin: 0%;
  margin-top: 30px;
  padding: 0%;
  list-style: none;
  background-color: rgba(128, 128, 128, 0.479);
  width: 50%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.MainNavBar ul li a {
  text-decoration: none;
  color: white;
}

.carousel-root {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0%;
}

.carousel-root .carousel {
  height: 100%;
}

.carousel-root .carousel button {
  display: none;
}

.carousel-root .carousel .carousel-status {
  display: none;
}

.carousel-root .carousel .thumbs-wrapper {
  display: none;
}

.carousel-root .carousel .slider-wrapper {
  height: 100%;
}

.carousel-root .carousel .slider-wrapper .slider {
  height: 100%;
}

.carousel-root .carousel .slider-wrapper .slider div {
  height: 100%;
}

.carousel-root .carousel .slider-wrapper .slider div img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.aboutBanner {
  width: 100%;
  position: relative;
  text-align: center;
}

.aboutBanner .aboutImg {
  margin: 0%;
  width: 100%;
  height: 80vh;
}

.aboutBanner .aboutImg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.aboutBanner h1 {
  font-size: 45px;
  width: 50%;
  text-align: center;
  color: white;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.aboutBanner p {
  font-size: 13px;
  text-align: center;
  width: 40%;
  color: white;
  position: absolute;
  top: 45%;
  left: 30%;
}

.aboutBanner button {
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: transparent;
  color: white;
  border: 1px solid white;
  width: 150px;
  height: 30px;
}

@media (max-width: 900px) {
  .aboutBanner h1 {
    width: 70%;
  }
}

@media (max-width: 640px) {
  .aboutBanner h1 {
    top: 30%;
    width: 80%;
    font-size: 40px;
  }
  .aboutBanner p {
    width: 65%;
    top: 60%;
  }
  .aboutBanner button {
    top: 85%;
  }
}

@media (max-width: 640px) {
  .aboutBanner h1 {
    top: 30%;
    width: 80%;
    font-size: 40px;
  }
  .aboutBanner p {
    width: 65%;
    top: 60%;
    left: 18%;
  }
  .aboutBanner button {
    top: 85%;
  }
}

@media (max-width: 400px) {
  .aboutBanner h1 {
    top: 30%;
    width: 80%;
    font-size: 30px;
  }
  .aboutBanner p {
    width: 65%;
    top: 50%;
    left: 18%;
  }
  .aboutBanner button {
    top: 85%;
  }
}

.videoBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
  background-color: #45b0f8;
}

.videoBanner .promo-video {
  margin-left: 40px;
  margin-right: 40px;
}

.NewsletterForm {
  width: 100%;
  background-color: #bbd3e9;
}

.NewsletterForm form {
  padding-left: 2%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 5px;
  color: #0b3552;
  height: 8vh;
  font-size: 14px;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.NewsletterForm form label {
  margin: auto;
}

.NewsletterForm form input {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-left: 15px;
  border: none;
  height: 26px;
  width: 50%;
  margin-top: 10px;
}

.NewsletterForm form button {
  height: 24px;
  width: 100px;
  margin-left: 10px;
  padding: 5px 5px 5px 5px;
  border: none;
  color: white;
  background-color: #45b0f8;
}

@media (min-width: 450px) {
  .NewsletterForm {
    text-align: center;
  }
  .NewsletterForm form {
    display: block;
    height: 6vh;
    font-size: 20px;
  }
  .NewsletterForm form input {
    margin-top: 10px;
    width: 50%;
  }
}

@media (min-width: 850px) {
  .NewsletterForm form {
    width: 90%;
  }
  .NewsletterForm form input {
    width: 30%;
  }
}

@media (min-width: 1250px) {
  .NewsletterForm form {
    width: 90%;
  }
  .NewsletterForm form input {
    width: 30%;
  }
}

footer {
  background-color: #009ddc;
  height: 22vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 0.7em;
}

footer .icon {
  height: 50%;
  margin-bottom: 10px;
}

footer .contactInfo {
  height: 50%;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .contactInfo img {
  height: 2.5em;
  margin: 10px;
}

footer .contactInfo .contactNumbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .contactInfo p {
  margin: auto;
}

@media (min-width: 850px) {
  footer {
    height: 15vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 1em;
  }
  footer .icon {
    width: 45%;
  }
  footer .contactInfo {
    width: 55%;
  }
}

@media (min-width: 1250px) {
  footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .icon {
    width: 20%;
  }
  footer .contactInfo {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .contactInfo .copyRight {
    width: 60%;
  }
}

.contactBanner {
  width: 100%;
  position: relative;
}

.contactBanner .mapImage {
  position: relative;
  width: 100%;
  height: 50vh;
}

.contactBanner .mapImage img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.contactBanner .mapImage .text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactBanner .mapImage .text h1 {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  color: #504f4f;
}

.contactBanner .mapImage .text button {
  font-size: 1.1em;
  margin-top: 15px;
  padding: 5px;
  background: transparent;
  font-family: "Roboto", sans-serif;
  color: #504f4f;
  border: 1px solid #504f4f;
  font-weight: 500;
}

.contactBanner .contactUs {
  position: relative;
  width: 100%;
  height: 50vh;
}

.contactBanner .contactUs .text {
  background-color: #244a64;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.contactBanner .contactUs .text h1 {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  color: white;
}

.contactBanner .contactUs .text button {
  font-size: 1.1em;
  margin-top: 15px;
  padding: 5px;
  background: transparent;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: white;
  border: 1px solid white;
}

.contactBanner img {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

@media (min-width: 850px) {
  .contactBanner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .contactBanner .mapImage .text button {
    color: white;
    border: none;
    background-color: #009ddc;
  }
  .contactBanner .contactUs .text button {
    color: white;
    border: none;
    background-color: #009ddc;
  }
}

.customized {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.customized .text {
  text-align: center;
}

.customized .text h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  color: #244a64;
}

.customized .text p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.customized .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.customized .images div {
  border-bottom: 2px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.customized .images div img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 60%;
}

.customized .images div h2 {
  margin: auto;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  color: #009ddc;
}

.customized .images div a {
  display: none;
  color: #504f4f;
}

.customized .images :nth-child(4) {
  border-bottom: none;
}

@media (min-width: 850px) {
  .customized .images {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .customized .images div {
    border-bottom: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .customized .images div a {
    display: block;
  }
  .customized .images div img {
    max-width: 100%;
  }
}

.productAdvisor {
  background-color: #244a64;
  padding: 15px;
}

.productAdvisor .heading {
  text-align: center;
}

.productAdvisor .heading h1 {
  margin: 0;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

.productAdvisor .heading p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #009ddc;
}

.productAdvisor .form {
  padding-top: 15px;
}

.productAdvisor .form div label {
  vertical-align: top;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.productAdvisor .form div select {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 15px;
}

.productAdvisor .form button {
  background-color: #009ddc;
  border: none;
  color: white;
  width: 100%;
  height: 40px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  margin: 25px auto;
}

@media (min-width: 850px) {
  .productAdvisor .form form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .productAdvisor .form form div {
    width: 48%;
  }
  .productAdvisor .form form div select {
    width: 100%;
  }
  .productAdvisor .form form div label {
    vertical-align: top;
  }
}

@media (min-width: 1250px) {
  .productAdvisor .form form div {
    width: 19%;
  }
}
/*# sourceMappingURL=index.css.map */